@font-face {
    font-family: 'Bebas';
    src: url('../fonts/bebas.ttf');

}

html {
    width: 100%;
    height: 100%;
    position: relative;
}


body {
    width: 100%;
    height: 100%;
    font-family: 'Bebas',sans-serif;
    color: #000;
    background-color: burlywood;
    margin: 0 0 30px;
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family:'Bebas',sans-serif;
    letter-spacing: 5px;
    font-weight: 700;
    letter-spacing: 1px;
}

h3 {
    margin: 25px 0 0 0; /*top left right bottom*/
}

h1 {
/*    background-color: #6BAA84;
*/    text-transform: none;

}

input {
    outline-color: green;
}


/*p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}*/


footer {
    padding: 1px;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow:hidden;
    background-color: white;
    text-align: center;
}

footer p {
    margin: 0;
    color: black;
     font-family: 'Bebas',sans-serif;
     text-align: center;
}

::-moz-selection {
    text-shadow: none;
    background:yellow;
}

::selection {
    text-shadow: none;
    background: yellow;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}




#about, #users, #technology, #advertisersInfo, #technologyInfo, #individualListing, #allListings, #createListing, #registrationIndividual {
    background-color: #B0BEA9;
    color: #fff;
}



#listingsHeader {
    background-color: black;
    color: white;
}

#createlisting {
    text-align: -webkit-center;
}

#createListingForm{
    text-align: center;
    
}


.wrapper {
    margin-top: 90px;
    width: 100%;
    height: 100%;
    background-color: #B0BEA9;
}



/*#individualListing, #allListings {
    height: 100%;
}*/

.listings  {
    list-style-type: none;
    padding-left: 0px;
}

a {
    color: #6B9B58;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #E7F59E;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
   font-family: 'Bebas',sans-serif;}

.navbar-custom .navbar-brand {
    font-weight: 700;
    font-size: x-large;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}



.navbar-custom a.top-nav-collapse {
    color: #000;

}

.navbar-main-collapse{
    font-size: medium;
}


.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: #000;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #000;
}

.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-color: black;
    opacity: 0.9;


    }

.intro::after {
  content: "";
  background: url(../assets/img/home.jpg) no-repeat bottom center scroll;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin: 5%;
    border: 2px solid burlywood;
    border-radius: 100%!important;
    font-size: 40px;
    color: burlywood;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-info:focus, .btn-info {
    letter-spacing: 5px;
    width: 50%;
    background-color: #4CAF50;
    border: #4CAF50;
}

.btn-info:active, .btn-info:hover  {
    background-color: #81C784;
}

.btn-block {
    display: inline-block;
}

.fa-angle-double-down {
    padding-top: 10px;
}


#about .btn-circle, #users .btn-circle, #technology .btn-circle, #advertisersInfo .btn-circle, #otherListings .btn-circle,
 #technologyInfo .btn-circle, #individualListing .btn-circle{
     border: 2px solid darkseagreen;
     color: darkseagreen;

}


.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: burlywood;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 50px;
    padding-bottom: 15px; 
}



.stats,.press  {
    background-color: #B0BEA9;
}

.users {
    background-color: #F5DEB3;
}


.stats, .users {
    height: 250px;
    margin: 5px; /*in between columns*/
    padding: 10px; /*Within divs*/
}

.press {
    height: 250px;
}



.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: relative;
}

/*.btn-default {
    border: 1px solid #6BAA84;
    color: #fff;
    background-color: #6BAA84;
    font-size: 18px;
}*/

.btn-listing {
    border: 1px solid #6BAA84;
    color: #fff;
    background-color: #6BAA84;
    font-size: 25px;
    width: 63%;
}

.btn-danger {
    border: 1px solid #d9534f;
    color: #fff;
    background-color: #d9534f;
    font-size: 25px;
    width: 63%;
}

/*.btn-default:hover,
.btn-default:focus {
    border: 1px solid #6B9B58;
    outline: 0;
    color: #000;
    background-color: #6B9B58;
}*/

.btn-danger:hover,
.btn-danger:focus {
    
    color: #000;
    
}


ul.banner-social-buttons {
    margin-top: 0;
}



@media(min-width:769px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        color: white;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding-bottom: 15px;
        padding-top: 15px;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #fff;

    }

    .navbar-custom a {
    color: #fff;
}

.navbar-custom.top-nav-collapse a {
    color: black;
}

    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }

     .intro {
        height: 100%;
       
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
        padding-bottom: 15px;
        word-spacing: 25px;
        letter-spacing: 10px;
    }

    .intro-text {
        font-size: 26px;
        line-height: 50px;

    }


    #map, #contactForm {
        width: 48%;
        float: left;
        margin-bottom: 25px;
        margin-left: 1%;
    }

    #map {
        height: 400px;
    }


    .form-horizontal {
        height: 100%;
    }

    .form-horizontal .control-label{
        text-align: left;
    }

    .socialMediaButtons {
        width: 100%;
        display: inline-block;
        padding-top: 6%;

    }

    ul.banner-social-buttons li {
        display: inline-block;
        margin-bottom: 20px;
        padding: 0;
        
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }



}


@media(min-width:769px) and (max-width: 992px) {

.form-horizontal .control-label {
    text-align: -webkit-right;
    width: 200px;
}


}



@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:768px) {

    .navbar-custom.top-nav-collapse {
        background-color: white;
    }

    .navbar-custom {
        background-color: white;
        
    }

         .navbar-custom a {
        color: black;
}

    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
        
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }


        #map, .form-horizontal {
        height: 100%;
        width: 100%;
        margin-bottom: 25px;
        display: inline-block;

    }

    #create {
        padding-top: 11px;
    }

    #map {
        height: 400px;
    }

    form {
        height: 100%;
    }

    .btn-default {
        width: 80%;
        height: 50px;
        
    }

    .intro .intro-body .brand-heading {
    font-size: 75px;
    padding-bottom: 10px;
}

 .intro-text {
    font-size: 25px;
}

  
.btn-listing, .btn-danger  {

    font-size: 18px;
    width: 90%;
}

.stats , .users {
    width: 
}


}

