/*----------------------------GENERAL-----------------------------------*/

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/bebas.ttf');

}

html {
    width: 100%;
    height: 100%;
    position: relative;
}


body {
    width: 100%;
    height: 100%;
    font-family: 'Bebas',sans-serif;
    word-spacing: 5px;
    color: #000;
    background-color: #424242;
    margin: 0 0 30px;
    min-height: 100%;
}

p {
    font-family: 'Titillium Web', sans-serif;
}

.form-control {
    word-spacing: 5px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family:'Bebas',sans-serif;
    letter-spacing: 5px;
    word-spacing: 5px;
    letter-spacing: 1px;
}

.list-title {
    color: #4CAF50;
    display: inline;
    padding-right: 5px;
}


.list-price {
    color: #424242;
    display: inline;
    font-size: large;
}

h1 {
   text-transform: none;
   font-weight: 700;

}

input {
    outline-color: green;
}


footer {
    padding: 1px;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow:hidden;
    background-color: white;
    text-align: center;
}

footer p {
    margin: 0;
    color: black;
     font-family: 'Bebas',sans-serif;
     word-spacing: 5px;
     text-align: center;
}

::-moz-selection {
    text-shadow: none;
    background:yellow;
}

::selection {
    text-shadow: none;
    background: yellow;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

.breadcrumb {
    background-color: #424242;
}


/*--------------------PAGINATION----------------------*/

.pagination>li>a,.pagination>li>a:hover,.pagination>li>span,.pagination>li>span:hover, .pagination>.disabled>a, .pagination>.disabled>a:hover {
    background-color: #424242;
    color: white;
}

.pagination>.active>a , .pagination>.active>a:hover {
    background-color: #4CAF50;
    border-color: white;
}

/*--------------------TAGGLE----------------------*/

.taggle_list {
    margin: 0;
    padding: 0;
    font-size: .8em;
  float: left;
  width: 100%;
}

.taggle_input {
  border: none;
  outline: none;
  /*font-size: 16px;*/
  font-weight: 300;
}

.taggle_list li {
  float: left;
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  margin-bottom: 5px;
}

.taggle_list .taggle {
  margin-right: 8px;
  background: #E2E1DF;
  padding: 5px 10px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  transition: all .3s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.taggle_list .taggle_hot {
  background: #cac8c4;
}

.taggle_list .taggle .close {
  /*font-size: 1.1rem;*/
  position: absolute;
  top: 5px;
  right: 3px;
  text-decoration: none;
  padding-left: 2px;
  padding-top: 3px;
  line-height: 0.5;
  color: #ccc;
  color: rgba(0, 0, 0, 0.2);
  padding-bottom: 4px;
  display: none;
  border: 0;
  background: none;
  cursor: pointer;
}

.taggle_list .taggle:hover {
  padding: 5px;
  padding-right: 15px;
  background: #ccc;
  transition: all .3s;
}

.taggle_list .taggle:hover > .close {
  display: block;
}

.taggle_list .taggle .close:hover {
  color: #990033;
}

.taggle_placeholder {
  position: absolute;
  color: #CCC;
  top: 12px;
  left: 28px;
  transition: opacity, .25s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.taggle_input {
  padding: 8px;
  padding-left: 0;
  float: left;
  margin-top: -5px;
  background: none;
  width: 100%;
  max-width: 100%;
}

.taggle_sizer {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -500px;
  z-index: -1;
  visibility: hidden;
}


/*------------------------------------------------------------------------------------------------------------------*/

 .listingsPage, #about, #users, #technology, #advertisersInfo, #technologyInfo, #individualListing, #allListings, #createListing, #registrationIndividual {
    background-color: #B0BEA9;
    color: #fff;
}

.info, .listingsPage {
    margin-top: 90px;
}

.listingsPage {
    min-height: 100%;
}

#listingsHeader {
    background-color: black;
    color: white;
}

#createlisting {
    text-align: -webkit-center;
}

#createListingForm{
    text-align: center;
    
}


.wrapper {
    margin-top: 90px;
    width: 100%;
    height: 100%;
    background-color: #B0BEA9;
}

.listings  {
    list-style-type: none;
    padding-left: 0px;
}


.listings-left {
float: left;
text-align: left;
width: 50%;
}

.listings-right {
    float: left;
    text-align: left;
    width: 50%;
}

a {
    color: white;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-size: medium;
}

a:hover,
a:focus {
    text-decoration: none;
    color: lemonchiffon;
}

.light {
    font-weight: 400;
}


/*----------------------------------NAVBAR--------------------------------------*/
.navbar {
    height: 75px;
}
.navbar-custom {
    margin-bottom: 0;
   font-family: 'Bebas',sans-serif;
   padding: 10px;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    font-size: x-large;
}

.navbar-custom a.top-nav-collapse {
    color: #000;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: #000;
    background-color: transparent;
}


.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-color: black;
    opacity: 0.9;
    }

.intro::after {
  content: "";
  background: url(../assets/img/home.jpg) no-repeat bottom center scroll;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin: 5%;
    border: 2px solid black;
    border-radius: 7%!important;
    font-size: 35px;
    color: black;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-info:focus, .btn-info {
    letter-spacing: 5px;
    width: 50%;
    background-color: #4CAF50;
    border: #4CAF50;
}

.btn-info:active, .btn-info:hover  {
    background-color: #81C784;
}

.btn-block {
    display: inline-block;
}

.fa-angle-double-down {
    padding-top: 10px;
}


#about .btn-circle, #users .btn-circle, #technology .btn-circle, #advertisersInfo .btn-circle, #otherListings .btn-circle,
 #technologyInfo .btn-circle, #individualListing .btn-circle{
     border: 2px solid white;
     color: white;

}


.btn-circle:hover,
.btn-circle:active {
    outline: 0;
    color: black;
    background: rgba(255,255,255,.1);
}

.btn-circle:focus {
    background-color: transparent;
    color: black;
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 50px;
    padding-bottom: 15px; 
}



#statistics,#press, #contact  {
    background-color: #424242;
    color:white;
}

.stats, .users {
    height: 250px;
    margin: 5px; /*in between columns
    padding: 10px; /*Within divs*/
}

.press {
    height: 250px;
}



.btn {
    border-radius: 4px;
    text-transform: uppercase;
     font-family:'Bebas',sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: relative;
}


.btn-listing,.submit, .btn-create, .btn-edit {
    border: 1px solid #4CAF50;
    color: #fff;
    background-color: #4CAF50;
    font-size: 25px;
    word-spacing: 8px;
    
}


.submit,.btn-create {
width: 260px;
}


.btn-danger {
    border: 1px solid #d9534f;
    color: #fff;
    background-color: #d9534f;
    font-size: 25px;
}

.btn-danger, .btn-listing {
    width: 63%;
}



.btn-danger:hover,
.btn-danger:focus {
    
    color: #000;
    
}

@media(min-width:769px) {
    .navbar-custom {
        /*padding: 20px;*/
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        color: white;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        /*padding-bottom: 15px;
        padding-top: 15px;*/
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #fff;

    }

    .navbar-custom a {
    color: #fff;
}

    .navbar-custom.top-nav-collapse a {
        color: black;
    }

    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }

     .intro {
        height: 100%;
       
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
        padding-bottom: 15px;
        word-spacing: 25px;
        letter-spacing: 10px;
    }

    .intro-text {
        font-size: 26px;
        line-height: 50px;
        word-spacing: 5px;
        font-style: justify;

    }

    #map {
        width: 100%;
        margin-bottom: 25px;
        height: 400px;

    }


    .form-horizontal {
        height: 100%;
    }

    .socialMediaButtons {
        width: 100%;
        display: inline-block;


    }

    ul.banner-social-buttons li {
        display: inline-block;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 0;
         
         margin-left: 15px;
        
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }



}


@media(max-width:768px) {

    .navbar-custom, .container>.navbar-collapse{
        background-color: white;
    }

    .container>.navbar-collapse{
        text-align: center;
        text-align: -webkit-center;
    }
    
    .container>.navbar-header {
        text-align: center;
        margin-right: 0px;
    }

     .navbar-custom a {
        color: black;
    }

   .navbar-custom .nav li a:hover{
        background-color: #4CAF50;
    }

    .navbar-nav {
        margin:inherit;
    }
    
    .container {
        padding-left: 0;
        padding-right: 0;
    }


    #map{
        width: 100%;
        height: 400px;
        margin-bottom: 10px;
    }



    .form-horizontal {
        
        width: 100%;
        margin-bottom: 25px;
        display: inline-block;

    }

    .intro .intro-body .brand-heading {
    font-size: 75px;
    padding-bottom: 10px;
    }

     .intro-text {
        font-size: 25px;
    }

      
    .btn-listing, .btn-danger,.submit  {

        font-size: 18px;
        width: 90%;
    }


    #create {
            padding-top: 11px;
        }

   
}


@media( max-width: 450px) {

  .btn-default {
        min-width: 150px;
    }
 .banner-social-buttons li {
        display: block;
    }

    .btn-circle {
        width: 40px;
        height: 40px;
    }

    .fa-angle-double-down {
    vertical-align: super;
    padding-top: 0px;
}

    .btn {
        padding: 0px;
    }

}

